.header {
    font-size: 72px;
    background-image: linear-gradient(#00dba4, #defa78);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
  }